body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;    
   }
   
   ul{
    list-style: none;
    margin: 0;
    padding: 0;
   }
   
   h1, h2, h3, h4, h5, h6, p{
       margin: 0;
   }
   
   .container{
       max-width: 1158px;
       padding: 0 15px;
       margin: 0 auto;
   }
   
   a{
    text-decoration: none;
   }
   
   img {
     display: block;
   }

   /*------header-----*/
   
   .header {
    border-bottom: 1px solid #e7e9fc; 
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
   }
   
   .container-header {
     display: flex;
     align-items: center;
   }
   
   .header-navigation {
       display: flex;
       align-items: center;  
   }
   
   .header-menu-list {
       display: flex;
       align-items: center;
       gap: 40px;
   }
   
   .header-address-list {
      display: flex;
       align-items: center;
       gap: 40px;
   }
   
   .logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
   }
   
   .header-logo {
    padding: 24px 0;
    margin-right: 76px;
   }
   
   .header-logo .header-logo-black {
    color: #2e2f42;
   }
   
   .header-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    display: block;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }

   .header-link.current{
    position: relative;
    color: #404bbf;
   }

   .header-link.current::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
   }
   
   .header-address {
    font-style: normal;
    margin-left: auto;
   }
   
   .header-address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    display: block;
    padding: 24px 0;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
   
    .header-link:hover, 
    .header-link:focus,
   .header-address-link:hover,
   .header-address-link:focus, 
   .header-link.current {
    color: #404bbf;
    }
   /*-----hero----*/
   
   .hero {
    background: #2e2f42;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    margin: 0 auto;
   }
   
   .hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;
    margin: 0 auto 48px;
   }
   
   .hero-button {
     font-family: "Roboto", sans-serif;
     font-weight: 500;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.04em;
     color: #fff;
     background-color: #4d5ae5;
     cursor: pointer;
     margin: 0 auto;
     display: block;
     border: none;
     border-radius: 4px;
     min-width: 169px;
     height: 56px;

     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }
   
   .hero-button:hover,
   .hero-button:focus {
    background-color: #404BBF}
   
   /*-----feature------*/
   
   .feature {
    padding-top: 120px;
    padding-bottom: 120px;
   }
   
   .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
  
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

   .feature-list{
    display: flex;
    gap: 24px;
   }

   .feature-list-item{
    flex-basis: calc((100% - 3 * 24px) / 4)
   }
   .icons{
    display: flex;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    height: 112px;
    background: #f4f4fd;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
   }
   
   .feature-list-item-title {
       font-weight: 500;
       font-size: 20px;
       line-height: 1.2;
       letter-spacing: 0.02em;
       color: #2e2f42;
       margin-bottom: 8px;
   }
   
   .feature-list-item-text{
       font-size: 16px;
       line-height: 1.5;
       letter-spacing: 0.02em;
       color: #434455;
   }
   
   /*------team-----*/

   .team {
    background-color: #f4f4fd;
    padding-top: 120px;
    padding-bottom: 120px;
   }
   
   .team-titel {
    margin-bottom: 72px;
   }
   
   .team-list {
    display: flex;
    gap: 24px;
}

.team-titel, .portfolio-titel-main {
 font-weight: 700;
 font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
 color: #2e2f42;
  
}
 .team-titel,
 .portfolio-titel-main {
 text-transform: capitalize ;
}

.team-list-item {
  width: calc((100% - 72px) / 4);
 border-bottom-right-radius: 4px;
 border-bottom-left-radius: 4px;
 background-color: #FFFFFF;
 box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.block {
  padding: 32px 0;
}

.team-list-title {
  font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.team-list-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    padding-bottom: 8px;
}

 .social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-item{
  width: 40px;
  height: 40px;
}

.soc-link {
  height: 100%;
  width: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.soc-link:hover, 
.soc-link:focus {
  background-color: #404bbf;
}
  
.soc-icon {
  fill: #f4f4fd;
 }

 /*------portfolio------*/

.portfolio{
 padding-top: 120px;
 padding-bottom: 120px;
}

.portfolio-titel-main{
  margin-bottom: 72px;
}

.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-item{
 width: calc((100% - 48px) / 3);

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover{
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}

.cower-wrapper{
  position: relative;
  overflow: hidden;
}

.portfolio-item:hover .cover-text{
  transform: translateY(0); 
}
.cover-text{
 position: absolute;
 background-color: #4d5ae5;
 color: #f4f4fd;;
  font-size: 16px;
 line-height: 1.5;
 letter-spacing: 0.02em;
 top: 0;
 left: 0;
 height: 100%;
 width: 100%;
 padding: 40px 32px;
 transform: translateY(100%);
 transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.block-services{
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  cursor: pointer;
}

.portfolio-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
   /*------footer-----*/
   
   .footer{
    background: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
   }
   
   .footer-logo{
     display: inline-block;
     margin-bottom: 16px; 
   }
   
   .header-logo-white{
    color: #f4f4fd;
   }
   
   .footer-text{
      max-width: 264px;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;
      color: #f4f4fd;
   }
   
   .container-footer{
     display: flex;
     align-items: baseline;
   }

    .footer-left{
      margin-right: 120px;
    }
   
   .footer-text{
       max-width: 264px;
       font-size: 16px;
       line-height: 1.5;
       letter-spacing: 0.02em;
       color: #f4f4fd;
   }

   .footer-right{
    max-width: 208px;
   }

   .media, .subscrib {
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px; 
    max-width: 208px;
   }
   
   .social-icons{
   display: flex;
   justify-content: center;
   gap: 16px;
   }

   .footer-soc{ 
    width: 40px;
    height: 40px;
  }
  
  .footer-soc-icon { 
    height: 100%;
    width: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .footer-soc-icon:hover, 
  .footer-soc-icon:focus {
    background-color: #31d0aa;
  }

  .footer-subscribe{
    margin-left: auto;
  }

  .subscrib{
    margin-bottom: 16px;
  }

  .subscribel-window{
  display: flex;
  align-items: center;
  gap: 24px; 
  }

 .footer-imput {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 4px;
  background-color: transparent;
  width: 264px;
  height: 40px;
  padding: 8px 16px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-input:hover,
.footer-input:focus {
  border-color: #31d0aa;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.footer-input::placeholder {
  color: #ffffff;
}

.footer-label{
font-size: 12px;
line-height: 2;
letter-spacing: 0.04em;
color: #ffffff;
}

.footer-button{
display: flex;
justify-content: center;
align-items: center;
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #ffffff;
background-color: #4d5ae5;
border: none;
border-radius: 4px;
padding: 8px 24px;
min-width: 165px;
height: 40px;
cursor: pointer;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
  
.footer-button:hover,
.footer-button:focus{
 background-color: #31d0aa;
}

.icon-subscribe {
  fill: #ffffff;
 margin-left: 16px;
}

  /*-----modal----*/

  .backdrop{
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background-color:  rgba(46, 47, 66, 0.4);
 opacity: 0;
 visibility: hidden;
 pointer-events: none;
 transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
 visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .backdrop.is-open{
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  }

  .modal{
 position: absolute;
 top: 50%;
 left: 50%;
 width: 408px;
 min-height: 584px;
 box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
 background-color: #fcfcfc;
 border-radius: 4px;
 padding: 72px 24px 24px 24px;

 transform: translate(-50%, -50%);
 transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .backdrop:not(.is-open) .modal {
  transform: translate(-50% -50%) scale(1.5);
  }

  .modal-open{
  position: absolute;
 top: 24px;
 right: 24px;
 width: 24px;
 height: 24px;
 padding: 0;
 border: 1px solid rgba(0, 0, 0, 0.1);
 cursor: pointer;
 background-color: #e7e9fc;
 border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

 transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
 border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-open:hover,
  .modal-open:focus{
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
  }

  .modal-icon-close{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center ;
  color: #2e2f42;
  margin-bottom: 16px;
  }

  .modal-label{
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: #8e8f99;
display: block;
margin-bottom: 4px;
  }

.modal-impyt{
border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 4px;
min-width: 360px;
height: 40px;
width: 100%;
padding-left: 38px;
background-color: transparent; 
outline: transparent;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-impyt:focus, 
.modal-impyt:hover {
  border-color: #4d5ae5;
}

.modal-impyt:hover + .modal-icon, 
.modal-impyt:focus + .modal-icon{
  fill:#4d5ae5;
}

.form-modal{
  border-radius: 4px;
  width: 360px;
  height: 336px;
}

.modal-fieid-textarea{
  margin-bottom: 16px;
}

.modal-fieid{
  margin-bottom: 8px;
}

.input-wrapper{
  position: relative;
}

.modal-icon{
fill: #2e2f42;
position: absolute;
left: 16px;
top: 50%;
transform: translateY(-50%);
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.textarea-modal{
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: #8e8f99;
resize: none; 
width: 100%;
height: 120px;
color: rgba(46, 47, 66, 0.4);
border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 4px;
padding: 8px 16px;
background-color: transparent;
outline: transparent;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea-modal:hover,
.textarea-modal:focus{
  border-color: #4d5ae5; 
}

.modal-textarea::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.modal-fieid-checkbox{
  margin-bottom: 24px;
}

.checkbox-plase{
height: 16px;
width: 16px;
border-radius: 2px;
border: 1px solid rgba(46, 47, 66, 0.4);
background-color: transparent;
display: inline-flex;
align-items: center;
justify-content: center;
fill: transparent;
margin-right: 8px;

transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
border 250ms cubic-bezier(0.4, 0, 0.2, 1),
fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-link{
font-size: 12px;
line-height: 1.33;
letter-spacing: 0.04em;
text-decoration: underline;
color: #4d5ae5;
}


.modal-submit{
border-radius: 4px;
padding: 16px 32px;
min-width: 169px;
height: 56px;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
background: #4d5ae5;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
text-align: center;
color: #fff;
border: none;
cursor: pointer;
margin: 0 auto;
display: block;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.modal-submit:hover,
.modal-submit:focus {
background-color: #404BBF;
}


.input-checkbox:checked + .modal-label > .checkbox-plase {
  border: none;
  background-color: #404bbf;
  border-color: #404bbf;
  fill: #f4f4fd;
}

.backdrop:not(.is-open) .modal {
  transform: translate(-50%, -50%) scale(1.5);
}

.icon-vector{
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}